<div class="jumbotron text-center page-header" >

	<h1 >Bienvenido al sistema de registro</h1>
	<div class="container">
		<p class="text-success"> Elija una opcion: </p>
		<p>
			<a href="/teachers/ver-profesores" > <button class="btn btn-lg btn-success"> Profesores</button></a>
			<a href="/students/ver-estudiantes" > <button class="btn btn-lg btn-success"> Estudiantes</button></a>
			<a href="/instituciones/ver-institucion" > <button class="btn btn-lg btn-success">  Instituciones </button></a>
			<a href="/matters/ver-cursos" > <button class="btn btn-lg btn-success">  Cursos </button></a>
			
		</p>
	</div>
</div>