/*body { padding-top: 50px; }*/

#content-views { position: relative; }

.ng-enter, .ng-leave { width: 100%; position: absolute; }
.ng-enter {
	- webkit- animation: zoomInDown 1.2s both ease- in;
	- moz- animation: zoomInDown 1.2s both ease- in;
	animation: zoomInDown 1.2s both ease- in;
}
.ng-leave {
	- webkit- animation: zoomOutDown 0.5s both ease- in;
	- moz- animation: zoomOutDown 0.5s both ease- in;
	animation: zoomOutDown 0.5s both ease- in;
}
main {
	padding-top: 30px;
}

/* ENCABEZADO ===================== */
header.navbar {
	border-radius: 0;
}

 /* NGANIMATE
====================== */
/* muestra y esconde */
.show-hide-message.ng-hide-remove {
	- webkit- animation: zoomIn 0.3s both ease;
	- moz- animation: zoomIn 0.3s both ease;
	animation: zoomIn 0.3s both ease;
}