<div class="jumbotron" >
<h1>
	Instituciones
</h1>

<div class="jumbotron text-center" ng-show="institute.processing" >
	<span class="glyphicon glyphicon-repeat spinner" > </span>
	<p> Cargando informacion... </p>
</div>

<table class="table table-bordered table-striped" ng-show="institute" >
	<thead>
	<tr>
		<th> Institucion</th>
		<th> Escuela</th>
	</thead>
	
	<tr>
		<td> {{ institute.instituteData.institucionAcademica }} </td>
	</tr>


	<tr>
		<td> {{ institute.instituteData.escuelas.escuela }} </td>
	</tr>

	</tbody>
</table>


</div>




