<div class="jumbotron" >

<h1 ng-if="matter.type == 'create'" > Registro Curso</h1>
<h1 ng-if="matter.type == 'edit'" > Editar Usuario</h1>


<div>
		
	<form #formRegistroCurso="ngForm" ng-submit="matter.guardarCurso()">

		<hr flex/> <!-- esta carajada es para dibujar una línea horizontal -->
		<p>
			<label>Institución:</label>
			<select name="institucion" ng-model="matter.matterData.instituciones" ng-options="instituciones.institucionAcademica for instituciones in matter.instituteData" required>
			</select>

			<label class="col-sm-offset-1">Escuela:</label>
			<select name="escuela" ng-model="matter.matterData.escuelas" ng-options="escuelas.escuela for escuelas in matter.instituteData" required>
			</select>

			<a href="#" ng-click="matter.cargarDatos()" class="btn btn-primary col-sm-offset-1">Cargar Datos</a>
		</p>
		<hr flex/> <!-- esta carajada es para dibujar una línea horizontal -->
		
		<p>
			<label>Programa:</label>
			<select name="programa" ng-model="matter.matterData.programData.programas" ng-options="programas.programa for programas in matter.matterData.programData" required>
			</select>
		</p>
		<p>
			<label>Materia:</label>
			<select name="materia" ng-model="matter.matterData.programData.materias" ng-options="materias.materia for materias in matter.matterData.programData.programas.mallaCurricular" required>
			</select>
		</p>
		<p>
			<label>Profesor:</label>
			<select name="profesor" ng-model="matter.matterData.programData.profesores" ng-options="profesores.nombre for profesores in matter.matterData.teacherData" required>
			</select>
		</p>
		<p>
			<label>Grupo:</label>
		   	<input type="number" step="1" no-float min="1" name="grupo" #grupo="ngModel" 
		   	ng-model="matter.matterData.programData.grupo" placeholder="Ejm: 1" required>
		</p>
		<p>
			<label>Periodo:</label>
		   	<input type="text" name="periodo" #periodo="ngModel" ng-model="matter.matterData.programData.periodo"  placeholder="Ejm: 2018-I" required>
		</p>

		<div class="form-group" >
			<div class="col-sm-6" >
				<button type="submit"
					class="btn btn-success btn-lg btn-block"
				ng-if="matter.type == 'create'" >Guardar</button>
				<button type="submit"
					class="btn btn-success btn-lg btn-block"
				ng-if="matter.type == 'edit'" >Actualizar Campo</button>
			</div>
		</div>
		
	</form>
	
	<div class="row show-hide-message" ng-show="matter.message" >
	<div class="col-sm-6 col-sm-offset-1" >

	<div class="alert alert-info" >
		{{ matter.message }}
	</div>

	</div>
	</div>
</div>
</div>