<div class="jumbotron" >
<h1>
	Profesor
</h1>

<p>
	<label class="col-sm-4 control-label" > Nombre: {{teacher.teacherData.nombre}}</label>
	<label class="col-sm-2 control-label" > Carnet: {{teacher.teacherData.carnet}}</label>
</p>

<div class="jumbotron text-center" ng-show="teacher.processing" >
	<span class="glyphicon glyphicon-repeat spinner" > </span>
	<p> Cargando informacion... </p>
</div>

<table class="table table-bordered table-striped" ng-show="teacher" >
	<thead>
	<tr>
		<th> Institucion</th>
		<th> Escuela</th>
		<th> Curso</th>
		<th> Grupo</th>
		<th> Periodo</th>
		</tr>
	</thead>
	
	<tbody ng-repeat="instituciones in teacher.teacherData.instituciones">
	<tr ng-repeat = "cursos in instituciones.cursos">
		<td> {{ instituciones.institucion }} </td>
		<td> {{ instituciones.escuela }} </td>
		<td> {{ cursos.curso }} </td>
		<td> {{ cursos.grupo }} </td>
		<td> {{ cursos.periodo }} </td>
	</tr>

	</tbody>
</table>


</div>




