<div class="jumbotron" >
<h1>
	Estudiante
</h1>

<p>
	<label class="col-sm-6 control-label" > Nombre: {{student.studentData.nombre}}</label>
	<label class="col-sm-6 control-label" > Carnet: {{student.studentData.carnet}}</label>
	<label class="col-sm-6 control-label" > Institucion: {{student.studentData.institucion}}</label>
	<label class="col-sm-6 control-label" > Escuela: {{student.studentData.escuela}}</label>
	<label class="col-sm-6 control-label" > Programa: {{student.studentData.programa}}</label>
</p>

<div class="jumbotron text-center" ng-show="student.processing" >
	<span class="glyphicon glyphicon-repeat spinner" > </span>
	<p> Cargando informacion... </p>
</div>

<!--label>{{teacher.teacherData}}</label-->

<table class="table table-bordered table-striped" ng-show="student" >
	<thead>
	<tr>
		<th> Curso</th>
		<th> Grupo</th>
		<th> Periodo</th>
		</tr>
	</thead>
	
	<tbody ng-repeat="cursos in student.studentData.cursosMatriculados">
	<tr>
		<td> {{ cursos.curso }} </td>
		<td> {{ cursos.grupo }} </td>
		<td> {{ cursos.periodo }} </td>
		<td class="col-sm-3" >
		<a ng-href="/students/matricula/{{student.studentData.carnet}}" class="btn btn-danger"> Editar</a>
		<a href="#" ng-click="student.deleteCurso(student.studentData.carnet)" class="btn btn-primary"> Borrar</a>
		</td>
	</tr>

	</tbody>
</table>

<a href="/students/matricula/{{student.studentData.carnet}}" class="btn btn-success btn-lg btn-block">
	<span class="glyphicon glyphicon-plus"> </span>
	Matricula Estudiante
</a>

</div>




