<div class="page-header" >
<h1>
	Estudiantes
	<a href="/students/registro-estudiante" class="btn btn-default" >
		<span class="glyphicon glyphicon-plus" > </span>
		Nuevo Estudiante
	</a>

</h1>

</div>

<!-- MENSAJE DE CARGA -->
<div class="jumbotron text-center" ng-show="student.processing" >
	<span class="glyphicon glyphicon-repeat spinner" > </span>
	<p> Cargando informacion... </p>
</div>

<table class="table table-bordered table-striped" ng-show="student.students" >
	<thead>
	<tr>
		<th> Nombre</th>
		<th> Carnet</th>
		<th> Institucion</th>
		<th class="col-sm-2" > </th>
		</tr>
	</thead>
	<tbody>

	<!-- Ciclo para los usuarios -->
	<!-- establece a person como la variable que guarda cada documento de la peticion -->
	<tr ng-repeat="est in student.students" >
		<td> {{ est.nombre }} </td>
		<td> {{ est.carnet }} </td>
		<td> {{ est.institucion }} </td>
		<td class="col-sm-3" >
		<a ng-href="/student/{{ est.carnet }}" class="btn btn-primary"> Ver Datos</a>
		<a ng-href="/students/{{ est.carnet }}" class="btn btn-danger"> Editar</a>
		<a href="#" ng-click="student.deleteStudent(est.carnet)" class="btn btn-primary"> Borrar</a>
		</td>
	</tr>

	</tbody>
</table>